.film-row-component {
  padding-bottom: 30px;

  .row-title {
    margin-left: 136px;
  }

  .film-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .film-row {
    display: flex;
    flex-direction: row;
  }
}
