.film-card-component {

  .film-card {
    width: 275px;
    height: 400px;
    margin: 0 20px 10px 20px;

    .poster {
      height: 400px;
    }
  }

  .title {
    max-width: 275px;
    margin: -3px 0 0 25px;
  }
}
