.header-component {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .app-bar {
    background-color: #d9534f;

    .toolbar {
      width: calc(100% - 11px);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .header-main {
        position: absolute;
        left: 23px;
      }

      .header-search {
        width: 20rem;
        display: flex;
        justify-content: center;
      }

      .header-auth {
        position: absolute;
        right: 23px;
      }
    }
  }
}
