.header-component {

  .app-bar {
    background-color: #d9534f;

    .header-main {
    }

    .header-auth {
      margin-right: 0;
      padding-right: 2rem;
      position: fixed;
      right: 0;
    }
  }
}
