.page {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;

  .page-content {
    margin-left: 11px;
    width: 80%;
    padding: 4rem 0 4rem 0;
  }
}
